
*{
    margin: 0;
    padding: 0;
    background-color: #ecf0f3;
    outline: none;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center; /*horizontally becomes center*/
    align-items: center;/* vertically becomes center*/

}

.calculator{
      padding: 15px;
      background: linear-gradient(900deg,#d53acd, #00dbde) 1500px;
      border-radius: 30px;
      box-shadow: inset 5px 5px 12px white,
                        5px 5px 12px rgba(0, 0, 0, .16);
      display: grid;/*to display the elements in the grid wise*/
      grid-template-columns: repeat(4,68px); /* dividing  the grid by four columns each box by 50px*/
}
input{
    grid-column: span 4; /*to display that particular input box in the width of joining of four column*/
    height: 70px;
    width: 260px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px white,
                inset 5px 5px 12px rgba(0, 0, 0, .16);
  border: none;
  border-radius: 30px;
  color: rgb(70,70,70);
  text-align: end;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 10px;
 font-size: 50px;
 }
 button{
     height: 48px;
     width: 48px;
     background-color: #ecf0f3;
     box-shadow: -5px -5px 12px white, /*left side (horizontal, vertical, blur)*/
                 5px 5px 12px rgba(0, 0, 0, .16);/*right side*/
     border: none;
     border-radius: 50px;
     margin: 8px;
     font-size: 16px;

 }    
 
 .equal{
     width: 115px;
     background-color: #ecf0f3;
     box-shadow: -5px -5px 12px white, /*left side (horizontal, vertical, blur)*/
                 5px 5px 12px rgba(0, 0, 0, .16);/*right side*/
 }
          

